.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.14;
    color: #212121;
}    
/* --components-- */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
/* --components-- */

/* --page header-- */
.logo-item-header{
    color: #000000;
}
.menu-link{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus{
    color: #2196F3;
}
.contact-header-link{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}
.contact-header-link:hover,
.contact-header-link:focus{
    color: #2196F3;
}
/* --/page header-- */

/* --section hero-- */
.hero-title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}
.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.hero-button:hover,
.hero-button:focus{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* --/section hero-- */

/* --section credo-- */
.credo-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.credo-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
/* --/section credo-- */

/* --section our team-- */
.our-team-image-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.our-team-image-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;
}
/* --/section our team-- */

/* --footer-- */
.logo-item-footer{
    /* color: #FFFFFF; */
}